.profile header {
    position: relative;
}

.container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    margin-top: 40px;
}

.container form {
    width: 100%;
}



.container form h4 {
    font-weight: bold;
    margin-bottom: 20px;
}

.container button {
    margin: 50px 0px;
}