.category header {
    position: relative;
}

.title h4 {
    width: 90%;
    margin: 20px auto;
    padding-left: 20px;
    line-height: 110%;
}


.description {
    font-size: 17px;
    line-height: 1.8;
    width: 90%;
    margin: 10px auto;
    padding-left: 20px;
}